body {
    margin: 0;
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
}
#top {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 8px 0;
    background-color: #1a1a1a;
    box-shadow: 0 0 4px #0d0d0d;
    overflow: auto;
    transition: margin .33s;
    z-index: 10;
}
#logo {
    display: table;
    margin-left: 50px;
    padding: 4px 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 36px;
    color: #5400FF;
    text-decoration: none;
    box-sizing: border-box;
    transition: margin .33s, color .33s, box-shadow .33s;
}
#logo::after {
    content: "LSWeb";
    animation-name: logo;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-duration: 0.8s;
    animation-iteration-count: 2;
}
#logo:hover {
    cursor: default;
    color: white;
    box-shadow: 0 -2px #5400FF inset;
}
/* LOGO ANIMATION */
@keyframes logo {
    0%      { content: 'LSWeb'; }
    11.11%  { content: 'LaSWeb'; }
    22.22%  { content: 'LatSWeb'; }
    33.33%  { content: 'LateSWeb'; }
    44.44%  { content: 'LateSuWeb'; }
    55.55%  { content: 'LateSupWeb'; }
    66.66%  { content: 'LateSuppWeb'; }
    77.77%  { content: 'LateSuppeWeb'; }
    88.88%  { content: 'LateSupperWeb'; }
    100%    { content: 'LateSupper Web'; }
}
main {
    padding: 16px 0;
    color: white;
    text-shadow: 1px 1px #0d0d0d;
    overflow: auto;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.wrap {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #333333;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px #0d0d0d;
}
.wrap:last-child {
    margin-bottom: 0;
}
.wrap * {
    margin-top: 0;
    margin-bottom: 16px;
}
.wrap *:last-child {
    margin-bottom: 0;
}
.wrap h2 {
    font-size: 2em;
    border-bottom: 1px solid white;
}
.wrap p {
    font-size: 17px;
}
#about, #portfolio {
    display: block;
    box-sizing: border-box;
    overflow: auto;
    z-index: 2;
}
/* ABOUT AREA */
/* #about p:first-of-type {
    text-indent: 2em;
} */
.firstLetter {
    font-size: 1.25em;
    font-weight: bold;
}
#portrait {
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto; margin-right: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px #1a1a1a;
}
#slogan {
    width: 100%;
    margin: 32px 0;
    text-align: center;
    font-style: italic;
}
.italic {
    font-style: italic;
}
/* PORTFOLIO AREA */
.portfolio-row {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    overflow: auto;
}
.portfolio-item {
    width: 32%;
    height: 200px;
    margin-right: 2%;
    margin-bottom: 0;
    border: 1px solid white;
    box-sizing: border-box;
    float: left;
}
.portfolio-row .portfolio-item:last-child {
    margin-right: 0;
}
/* portfolio: traditions */
.portfolio-item#traditions {
    background-image: url("../images/traditions-splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.portfolio-item#traditions a {
    display: block;
    width: 100%;
    height: 100%;
}
footer {
    display: block;
    width: 100%;
    padding: 32px 0;
    text-align: center;
    box-sizing: border-box;
}
#email {
    display: table;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 1.5em;
    color: white;
}
#email:focus {
    outline: #5400FF;
}
#email i:before {
    content: "\f0e0";
}
#email:hover i:before {
    content: "\f2b6";
    font-size: 1em;
    transition: font-size 200ms;
}
#social-links {
    display: table;
    margin: 0 auto;
    box-sizing: border-box;
}
#social-links a {
    display: inline-block;
    margin-right: 24px;
    font-size: 1.5em;
    color: white;
    transition: font-size 333ms;
}
#social-links a:last-child {
    margin-right: 0;
}
#social-links a:hover {
    transform: rotate(360deg);
    transition: all ease-out 400ms;
}