/* Main CSS */
body {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    color: #e6e6e6;
    background-color: #262626;
}
#page {
    position: relative;
}
/* top, content, foot | display/width/box-sizing */
    #top, #content, #foot {
        display: block;
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
    }
/* top Styles */
    #top {
        position: fixed;
        top: 0;
        left: 0;
        padding: 16px 0;
        background-color: #1a1a1a;
        box-shadow: 0 0 4px #0d0d0d;
        z-index: 10;
    }
    /* logo Animation */
    @-webkit-keyframes logo {
        0%      { content: 'LSWeb'; }
        11.11%  { content: 'LaSWeb'; }
        22.22%  { content: 'LatSWeb'; }
        33.33%  { content: 'LateSWeb'; }
        44.44%  { content: 'LateSuWeb'; }
        55.55%  { content: 'LateSupWeb'; }
        66.66%  { content: 'LateSuppWeb'; }
        77.77%  { content: 'LateSuppeWeb'; }
        88.88%  { content: 'LateSupperWeb'; }
        100%    { content: 'LateSupper Web'; }
    }
    @-moz-keyframes logo {
        0%      { content: 'LSWeb'; }
        11.11%  { content: 'LaSWeb'; }
        22.22%  { content: 'LatSWeb'; }
        33.33%  { content: 'LateSWeb'; }
        44.44%  { content: 'LateSuWeb'; }
        55.55%  { content: 'LateSupWeb'; }
        66.66%  { content: 'LateSuppWeb'; }
        77.77%  { content: 'LateSuppeWeb'; }
        88.88%  { content: 'LateSupperWeb'; }
        100%    { content: 'LateSupper Web'; }
    }
    @-o-keyframes logo {
        0%      { content: 'LSWeb'; }
        11.11%  { content: 'LaSWeb'; }
        22.22%  { content: 'LatSWeb'; }
        33.33%  { content: 'LateSWeb'; }
        44.44%  { content: 'LateSuWeb'; }
        55.55%  { content: 'LateSupWeb'; }
        66.66%  { content: 'LateSuppWeb'; }
        77.77%  { content: 'LateSuppeWeb'; }
        88.88%  { content: 'LateSupperWeb'; }
        100%    { content: 'LateSupper Web'; }
    }
    @keyframes logo {
        0%      { content: 'LSWeb'; }
        11.11%  { content: 'LaSWeb'; }
        22.22%  { content: 'LatSWeb'; }
        33.33%  { content: 'LateSWeb'; }
        44.44%  { content: 'LateSuWeb'; }
        55.55%  { content: 'LateSupWeb'; }
        66.66%  { content: 'LateSuppWeb'; }
        77.77%  { content: 'LateSuppeWeb'; }
        88.88%  { content: 'LateSupperWeb'; }
        100%    { content: 'LateSupper Web'; }
    }
    /* Logo Text Styles */
    #logo {
        display: block;
        font-family: 'ZCOOL QingKe HuangYou', cursive; /* Google Font */
        font-size: 2rem;
        color: #5400FF;
        text-align: center;
    }
    #logo::after {
        content: "LSWeb";
        /* animation-name */
        -webkit-animation-name: logo;
        -moz-animation-name: logo;
        -o-animation-name: logo;
        animation-name: logo;
        /* animation-delay */
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
        -o-animation-delay: 2s;
        animation-delay: 2s;
        /* animation-duration */
        -webkit-animation-duration: 0.6s;
        -moz-animation-duration: 0.6s;
        -o-animation-duration: 0.6s;
        animation-duration: 0.6s;
        /* animation-iteration-count */
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
        animation-iteration-count: 1;
        /* animation fill-mode */
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
/* content Styles */
    #content {
        width: 100%;
        margin: 80px auto 106px;
        padding: 0 16px;
        text-shadow: 1px 1px 2px #0d0d0d;
    }
    .content-area {
        /* no user select */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }
    .content-title {
        display: block;
        font-size: 2.25rem;
        border-bottom: 1px solid #e6e6e6;
    }
    #content .content-area {
        margin-bottom: 8px;
    }
    #content .content-area:last-child {
        margin-bottom: 0;
    }
    #content a {
        color: #e6e6e6;
    }
    #content a:active {
        color: #a6a6a6;
    }
    /* About Specific */
        #intro {
            display: table;
        }
        #portrait {
            display: none;
            box-shadow: 0 2px 5px #1a1a1a;
        }
        #about h2 {
            margin-top: 0;
            font-weight: normal;
            text-align: center;
        }
        #about #skills {
            text-shadow: none;
            font-size: 1.5rem;
            font-family: 'ZCOOL QingKe HuangYou', cursive; /* Google Font */
        }
        #about ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            padding: 0;
            box-shadow: 0 0 4px #0d0d0d;
        }
        #about ul li {
            padding: 8px 0;
            font-weight: bold;
            color: #5400FF;
            text-align: center;
            background-color: #e6e6e6;
            border-bottom: 1px solid #262626;
            border-radius: 4px;
            box-shadow: 0 -2px 2px #a6a6a6 inset;
        }
        #about ul li:last-child {
            border-right: none;
        }
        #contin {
            padding: 40px 16px;
            color: #0d0d0d;
            background-color: #e6e6e6;
            border-radius: 4px;
            text-shadow: 1px 1px 2px #a6a6a6;
            box-shadow: 0 0 4px #0d0d0d, 0 -2px 2px #a6a6a6 inset;
        }
        #contin a {
            color: #0d0d0d;
        }
    /* End of About */
    /* Portfolio Specific */
        .row {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
        }
        .row-item {
            display: block;
            width: 100%;
            height: 200px;
            margin: 16px auto;
            margin-bottom: 0;
            border: 1px solid #e6e6e6;
        }
        #traditions-static {
            background-image: url("../images/traditions-splash.png");
        }
        #sage-bistro-app {
            background-image: url("../images/sage-bistro-app-splash.PNG");
        }
        #dgphoto {
            background-image: url("../images/dgphoto-splash.PNG");
        }
        #traditions-static, #sage-bistro-app, #dgphoto {
            background-size: cover;
            background-position: center;
        }
    /* End of Portfolio */
/* foot Styles */
    #foot {
        position: fixed;
        left: 0;
        bottom: 0;
        padding-top: 4px;
        padding-bottom: 8px;
        background-color: #1a1a1a;
        box-shadow: 0 0 4px #0d0d0d;
        z-index: 10;
    }
    #email, #social {
        display: table;
        margin: 0 auto;
    }
    #email a, #social a {
        font-size: 1.75em;
        color: #e6e6e6;
        text-decoration: none;
    }
    #social a {
        margin-right: 8px;
    }
    #social a:last-child {
        margin-right: 0;
    }