/* MEDIA QUERIES FOR MOBILE, TABLET, ETC. */
/* SMALL to BIG */
@media screen and (max-width: 425px) {
    #top {
        width: 100%;
        margin: 0;
    }
    #logo {
        margin: 35px 0;
        margin-left: 16px;
    }
    main {
        padding: 16px;
    }
}
@media screen and (max-width: 600px) {
    .portfolio-row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .portfolio-item {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
        float: none;
    }
}
@media screen and (max-width: 767px) {
    #logo::after {
        animation-name: none;
    }
    #portrait {
        width: 60%;
    }
}
@media screen and (max-width: 1023px) {
    #logo:hover {
        color: #5400FF;
        box-shadow: none;
    }
}
@media screen and (min-width: 1601px) {
    .wrap {
        width: 50%;
    }
}
/* "AFTER RENDERS" */
/* BIG to SMALL */
@media screen and (max-width: 1024px) {
    .wrap {
        width: 80%;
    }
}
@media screen and (max-width: 425px) {
    .wrap {
        width: 100%;
    }
    #portrait {
        width: 90%;
    }
}