/* Responsive CSS */
    /* >= 651px Width */
        @media only screen and (min-width: 651px) {
            #about ul {
                flex-direction: row;
            }
            #about ul li {
                flex: 20%;
                padding: 16px 0;
                border-bottom: none;
                border-right: 1px solid #262626;
            }
            #about ul li:last-child {
                border-right: none;
            }
        }
    /* >= 1024px Width (iPad Plus/Small Laptop) */
        @media only screen and (min-width: 1024px) {
            #content {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            #portrait {
                display: block;
                margin: 16px;
                border-radius: 50%;
                float: left;
            }
            #intro {
                padding: 60px 0;
            }
            #intro p {
                display: table-cell;
                padding-left: 5%;
                padding-right: 5%;
                vertical-align: middle;
            }
            .row {
                margin-top: 8px;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .row-item {
                flex: 1 0 29%;
                margin: 8px;
            }
            #contin {
                margin: 60px 0;
            }
            #email {
                margin-bottom: 4px;
            }
            #email a, #social a {
                display: inline-block;
                transition: transform 200ms;
            }
            #social a {
                margin-right: 16px;
            }
            #email a:hover i::before {
                content: '\f2b6';
            }
            #social a:hover {
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -o-transform: scale(1.25);
                transform: scale(1.25);
            }
        }
    /* >= 1280px Width (Medium Screen) */
        @media only screen and (min-width: 1280px) {
            #top {
                position: static;
            }
            #content {
                margin-top: 16px;
                margin-bottom: 16px;
            }
            #foot {
                position: static;
                padding-top: 32px;
                padding-bottom: 36px;
            }
        }
    /* >= 1600px Width (Large Screen) */
        @media only screen and (min-width: 1600px) {
            #skills {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
/* ReSel Queries (Targets elements which have previously already been altered within this file) */
    /* >= 769px Width (iPad/Tablets) */
        @media only screen and (min-width: 769px) {
            .row-item {
                width: 50%;
            }
        }
    /* <= 768px Width (iPad/Tablets) */
        @media only screen and (max-width: 768px) {
            body {
                font-size: 1.1rem;
            }
            #content {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
            .row-item {
                width: 60%;
            }
        }
    /* <= 415px Width (1px above iPhone 6/7/8 Plus {For Mobile} ) */
        @media only screen and (max-width: 415px) {
            #content {
                width: 100%;
            }
            #about ul {
                width: 100%;
            }
            .row-item {
                width: 100%;
            }
        }