@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(fonts/OpenSans-Regular.ttf);
}

body { margin: 0; font-family: 'Open Sans', serif; background-color: #e5e5e5; }
body.dm { color: #ffffff !important; background-color: #262626 !important; }
body * { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); box-sizing: border-box; transition: color 0.05s linear, background-color 0.2s linear; }

#page { position: relative; min-width: 320px; padding-top: 63px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.a-sec { background-color: #e5e5e5; }
.a-sec.dm { background-color: #262626; }
.b-sec { background-color: #cccccc; }
.b-sec.dm { background-color: #313131; }
.a-sec, .b-sec { min-height: 100%; padding: 120px 16px; font-size: 20px; }

#head { position: fixed; top: 0; left: 0; width: 100%; padding: 16px; font-family: Arial, Helvetica, sans-serif; background-color: #f2f2f2; box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); transition: padding 0.25s; z-index: 10; }
#head.dm { background-color: #1a1a1a; }
#headtext { padding-right: 32px; font-size: 15pt; font-weight: 400; color: #808080; float: left; }
#headtext span { font-size: 19.5pt; color: #6600ff; }
#head nav { height: 100%; float: right; }
#head nav a { display: inline-block; height: 100%; margin: 5px 0; font-size: 13.5pt; color: #6600ff; text-decoration: none; }
#head nav a:not(:last-of-type) { margin-right: 10px }
#mnav-t { display: none; width: 30px; height: 30px; text-align: center; float: right; }
#mnav-t i { display: table-cell; font-size: 24px; vertical-align: middle; }
#mnav { position: absolute; left: 0; bottom: 0; width: calc(100% - 140px); background-color: #f2f2f2; border-radius: 0 0 3px 0; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33); transform: translate(0, 100%); }
#mnav.dm { background-color: #1a1a1a; }
#mnav a { display: block; width: 100%; padding: 8px 16px; font-size: 13.5pt; color: #6600ff; text-decoration: none; border-top: 1px solid #e5e5e5; }
/* #mnav a:last-of-type { border-bottom: 1px solid #e5e5e5; } */
#mnav.dm a { border-top: 1px solid #262626; }
/* #mnav.dm a:last-of-type { border-bottom: 1px solid #262626; } */
#dm { position: absolute; right: 0; bottom: 0; padding: 4px 8px; background-color: #f2f2f2; border-radius: 0 0 3px 3px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33); transform: translate(-16px, calc(100%)); z-index: 11; }
#dm.dm { background-color: #1a1a1a; }
#dm i { font-size: 20px; color: rgba(0, 0, 0, 0.20); }
#dm.dm i { color: rgba(255, 255, 255, 0.80); }
#dms { position: relative; width: 36px; height: 20px; margin: 0 8px; background-color: #808080; border-radius: 20px; }
#dms.dm { background-color: #808080; }
#dms:hover { cursor: pointer; }
#dms-k { position: absolute; top: 2px; left: 2px; display: inline-block; width: 16px; height: 16px; background-color: rgba(0, 0, 0, 0.5); border-radius: 50%; transition: background-color 0.25s, left 0.25s; }
#dms-k.dm { left: 18px; background-color: rgba(255, 255, 255, 0.80); }

#intro { display: flex; flex-direction: row; flex-wrap: nowrap; }
#intro img { display: block; width: 250px; height: 250px; margin: 0 auto; margin-right: 32px; background-color: rgba(0, 0, 0, 0.10); border-radius: 50%; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.66); transform: rotate(-10deg); filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.66)); }
#intro.dm img { background-color: rgba(255, 255, 255, 0.15); }

#sl { display: flex; flex-direction: row; flex-wrap: wrap; }
.skili { display: inline-block; flex: 100%; margin: 6px; padding: 16px 5px; font-family: Arial, Helvetica, sans-serif; font-size: 26px; font-weight: bold; color: #6600ff; text-align: center; background-color: #ffffff; border-radius: 6px; box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.33) inset; }
#sl.dm .skili { background-color: #d9d9d9; }
#osl { display: table; margin: 8px auto; padding: 0; list-style-type: none; }
#osl li::before { content: '\2022'; width: 1em; margin-left: 0.5em; margin-right: 0.5em; font-size: 22pt; font-weight: bold; color: #6600ff; text-shadow: none; }
#osl.dm li::before { color: #f2f2f2; }

#portfolio { display: flex; flex-direction: row; flex-wrap: wrap; }
.porti { display: inline-block; justify-content: center; width: 300px; height: 200px; text-align: center; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.66); }

#foot { padding: 125px 0; font-family: Arial, Helvetica, sans-serif; text-align: center; background-color: #f2f2f2; }
#foot.dm { background-color: #1a1a1a; }

@media screen and (max-width: 600px) {
    #intro { flex-direction: column; }
    #intro img { margin-right: auto; margin-bottom: 32px; }
    .a-sec, .b-sec { padding-left: 10px; padding-right: 10px; }
}
@media screen and (max-width: 768px) {
    #head nav { display: none; }
    #mnav-t { display: table; }
}
@media screen and (min-width: 768px) {
    .skili { flex: 48%; padding: 64px 5px; }
    /* .porti { flex: 48%; } */
}
@media screen and (min-width: 1024px) {
    #page { padding-top: 114px; }
    .a-sec, .b-sec { padding: 250px 16%; }
    #head { padding: 32px 16px; }
    #headtext, #headtext span { font-size: 1.66em; }
    #head nav a { margin: 11px 0; font-size: 1.5em; }
}
@media screen and (min-width: 1280px) {
    .skili { flex: 23%; }
    /* .porti { flex: 23%; } */
}