:root {
    --fg: white;
    --bg: #444444;
}

@keyframes xpRow {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.1rem;
    text-shadow: 0 1px 2px rgba(0 0 0 / 50%);
    color: var(--fg);
    background-color: var(--bg);
}
input,
button {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.2em;
    border: 1px solid rgba(0 0 0 / 25%);
    border-radius: 4px;
}
input:focus,
button:focus {
    outline: 2px solid skyblue;
}
input[type=checkbox] {
    accent-color: skyblue;
}
table {
    border-radius: 4px;
    border-collapse: collapse;
}
th, td {
    padding: 0.25em 0.5em;
    border: 1px solid white;
}
table tr:nth-child(odd) {
    background-color: rgba(0 0 0 / 25%);
}
table tr:nth-child(even) {
    background-color: rgba(0 0 0 / 50%);
}
table tbody tr {
    animation-name: 'xpRow';
    animation-timing-function: ease-in-out;
    animation-delay: 100ms;
    animation-duration: 250ms;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
table tbody tr:first-of-type {
    border-top: 1px solid white;
}
table tbody tr td {
    text-align: right;
}
table tbody tr td:first-of-type {
    border-right: 1px solid white;
}

#content {
    height: 100%;
    padding: 0.5em;
}
#content header {
    padding: 0.5em 0;
    text-align: center;
}
#content main {
    padding: 0.5em;
}
#content footer {
    padding: 0;
}

#options {
    width: auto;
    max-width: 320px;
    margin: 0 auto;
    padding: 0.8em;
    border: 2px solid white;
    border-radius: 4px;
}
#options h2 {
    margin: 0;
}
.options-set {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    text-align: left;
}
.options-set input[type=text] {
    margin-top: 2px;
}
.options-set input[type=checkbox] {
    width: 20px;
    height: 20px;
    outline: 1px solid white;
}
#generate,
#export {
    display: block;
    margin: 0 auto;
}
#export {
    margin: 1em auto;
    display: none;
}

#exptable {
    margin: 1em auto;
}