body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    background-image: url("images/lakesunset-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    overflow: hidden;
}
body * {
    box-sizing: border-box;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: table;
    width: 320px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
    user-select: none;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#logo, #logo-behind {
    margin: 0;
    margin-bottom: 100px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    transition: color 0.25s, text-shadow 0.25s;
}
#logo:hover {
    text-shadow: 0 0 12px #fff;
    cursor: text;
}


#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2.25em;
}
.links-holder {
    position: relative;
}
.links-holder a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: text-shadow 0.25s, transform 0.25s;
}
.links-holder a:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.links-holder:hover a:first-of-type {
    transform: scale(1.33, 1.33);
}
.links-holder:hover a:last-of-type {
    text-shadow: 0 0 12px #fff;
    transform: scale(1.33, 1.33);
}


/* particles.js STUFF */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url("images/lakesunset-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}