:root {
    --primary: rgb(75, 0, 130);
}

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #404040;
}
/* #content style: Flex-box */
#content {
    height: 100%;
}
#content header h1,
#content header h3 {
    margin: 0;
}
#content header,
#content footer {
    flex: 0 0;
    padding: 0.5em;
}
#content header {
    text-align: center;
}
#content main {
    flex: 1 1 auto;
    padding: 1em;
    overflow-y: auto;
}
#content footer {
    text-align: center;
    padding: 0 !important;
}

#download-area {
    margin: 3em 0;
    text-align: center;
}
#download {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: #3377ff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0 0 0 / 50%);
}
#download:hover {
    text-decoration: underline;
}
.showcase {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin: 0 auto;
}
.showcase p {
    margin: 1em 0 2em;
    padding: 0 10%;
    font-size: 1.1rem;
}
.showcase,
.showcase span {
    padding: 0.5em;
}
.showcase span {
    display: block;
    margin: 0.25em 0 2em;
    text-align: center;
    background-color: rgba(0 0 0 / 25%);
}
.showcase span a {
    color: white;
}
.showcase h1,
.showcase h2,
.showcase h3 {
    margin-top: 0;
}

#usage {
    padding: 0.5em 1em;
    background-color: rgba(0 0 0 / 25%);
    border-radius: 4px;
}
#usage h4 {
    margin-bottom: 0.25em;
}
#usage pre {
    margin-top: 0;
    padding: 0.5em;
    background-color: rgba(0 0 0 / 50%);
    overflow: auto;
}
#usage pre i {
    font-style: normal;
    color: lightgreen;
}

ol code {
    padding: 0 4px;
    background-color: rgba(0 0 0 / 50%);
    border-radius: 4px;
}