/* 
    Dylan Glidden
    bistro.css
    Olberding
    INFO2439.WW
    4/12/2019
*/
/* HEADER */
#head-area {
    padding: 0 16px;
    background-color: white;
    box-sizing: border-box;
    transition: 0.33s;
}
#ssbLogo {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 16px 0;
    transition: 0.2s;
}
.headingFix {
    white-space: normal;
}
hr {
    border-top: 1px solid #005a8b;
    border-bottom: 1px solid #6e9176;
    border-left: none;
    border-right: none;
    /* border: 1px solid #005a8b;
    border-top: 1px solid white;
    border-left: 1px solid white; */
    text-shadow: none;
}
/* FOOTER */
#foot {
    text-align: center;
}

/* PAGE SPECIFIC */

/* HOME */
#fbLink {
    color: #005a8b;
    text-shadow: none;
}

/* MAP */
.opInfo {
    box-sizing: border-box;
    margin-bottom: 16px;
}
.opInfo h4 {
    margin-bottom: 4px;
    text-align: center;
}
.opInfo table {
    width: 100%;
    border: 2px outset #005a8b;
    text-shadow: none;
    background-color: #003a57;
}
.opInfo td {
    text-align: center;
    border: 1px solid #005a8b;
}
/* GOOGLE MAP EMBED SPECIFIC FOR MAP PAGE */
.mapouter {
    position:relative;text-align:right;height:288px;width:100%;
    margin: 16px 0;
}
.gmap_canvas {
    overflow:hidden;background:none!important;height:288px;width:288px;
    margin: 0 auto;
}

/* SURVEY */
.astrisk {
    color: #005a8b;
    text-shadow: 0 1px 0 #6e9176;
}

/* MENU */
.ssbMenu li * {
    white-space: normal;
}
.menu-item-name {
    font-weight: bold;
}
.menu-bold {
    font-weight: bold;
}
.stuName {
    font-weight: bold;
}
.stuDate {
    display: block;
    width: 100%;
    margin-top: 8px;
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
}